/* * body { */
    /* margin:0px; */
    /* width: auto; */
    /* background-color: silver; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
/* } */

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0%;
}

.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
}

.web-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0; 
    display: flex;

}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: silver;
}

.menu-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
}

.menu-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* header { */
    /* display: flex; */
    /* background-color: grey; */
    /* width: 100%; */
    /* height: 100px; */
    /* display: flex; */
    /* justify-content:right; */
     /*  */
/* } */

/* .container-nav { */
    /* display: flex; */
    /* background-color: grey; */
    /* width: 100%; */
    /* height: 150px; */
    /* display: flex; */
    /* justify-content:right; */
/* } */

/* .container-nav { */
    /* float: right; */

/* } */

/* .container-nav h1 { */

/* } */

/* .navitem { */
    /* width: 150px; */
    /* height: 100px; */
    /* border-style: solid; */
    /* border-width: 2px; */
    /* background-color: silver; */
    /* float: right; */
 
/* } */


.flexbox-photobreak1 {
    display: flex;
    max-width: auto;
    height: auto;
    width: auto\9; /* ie8 */
    /* flex-direction: column; */
}
.flexbox-photobreak1 > div {
    display: flex;
    flex-direction: column;
}

section {
    margin: 20px;
}

.about-me {
    display: flex;
}

.about-me h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.about-me p {
    line-height: 30px;
}

.my-work {
    display: flex;
    justify-content: space-between;
}

.my-work-container {
    display: block;
    justify-content: space-between;
}

.my-work h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}


.work-tile {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: grey;
    border-style: solid;
    border-radius: 30px;
    border-color: grey;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    
}

.work-tile:hover {
    background-color: silver;
    border-color: orange;
    width: 350px;
}

.work-tile-text {
    background-color: orange;
    border-radius: 10px;
    padding: 10px;
}

.contact-me {
    display: flex; 
    ;
}

.contact-me h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.contact-me-tile {
    height: 100px;
    width: 300px;
    background-color: grey;
    border-style: solid;
    border-width: 3px;
    display: block;
}

.resume {
    display: flex;
}

.resume h1 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.pdf-display {
    justify-content: space-between;
}

@media (max-width:550px) {
    .menu-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        display: none;
    }

    .navbar {
        height: 50px;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .flexbox-photobreak1 {
        max-width: 550px;
    }
}